# Back-end
PORT=8000
CORS_ORIGINS=http://localhost:3000
RATE_LIMIT=30
RATE_WINDOW=60

# Front-end
NEXT_PUBLIC_API_URL=http://localhost:8000

# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET=your-secret-here # openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Facebook OAuth
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=