@import "tailwindcss";

@font-face {
    font-family: 'Brockmann';
    src: url('/fonts/brockmann.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --background: #ffffff;
    --foreground: #E2C6BC;
    --border: #d4c8c3;
    --white-text: #ffffff;
    --black-text: #000000;
    --orange: #ff581b;
    --orange-hover: #b94014;
}

* {
    font-family: 'Brockmann';
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--foreground);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}

body {
    background: var(--background);
    color: var(--black-text);
}

button {
    cursor: pointer;
}

.transition-normal {
    transition: all 0.3s ease;
}

.transition-fast {
    transition: all 0.15s ease;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.bg-animated-gradient {
    background: linear-gradient(270deg, #FFFCFC, #F9E9E3, #FFFCFC, #F4E8ED);
    background-size: 800% 800%;
    animation: gradientMove 15s ease infinite;
}